<h1><%= t('views.common.title_show', name: User.model_name.human) %></h1>

<% unless @user == current_user %>
  <% if current_user.following?(@user) %>
    <%= render 'users/shared/unfollow' %>
  <% else %>
    <%= render 'users/shared/follow' %>
  <% end %>
<% end %>

<p>
  <strong><%= User.human_attribute_name(:email) %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= User.human_attribute_name(:name) %>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= User.human_attribute_name(:postal_code) %>:</strong>
  <%= @user.postal_code %>
</p>

<p>
  <strong><%= User.human_attribute_name(:address) %>:</strong>
  <%= @user.address %>
</p>

<p>
  <strong><%= User.human_attribute_name(:self_introduction) %>:</strong>
  <%= @user.self_introduction %>
</p>

<p>
  <strong><%= User.human_attribute_name(:avatar) %>:</strong>
  <% if @user.avatar.attached? %>
    <br>
    <%= image_tag @user.avatar.variant(resize_to_fill: [150, 150])%>
  <% end %>
</p>

<p>
  <% if @user.following.count == 0 %>
    <strong><%= @user.following.count %> <%= t('follow_relationship.views.following') %></strong> |
  <% else %>
    <%= link_to user_following_index_path(@user) do %>
      <strong><%= @user.following.count %> <%= t('follow_relationship.views.following') %></strong>
    <% end %>
    |
  <% end %>
  <% if @user.followers.count == 0 %>
    <strong><%= @user.followers.count %></strong> <%= t('follow_relationship.views.followers') %>
  <% else %>
    <%= link_to user_followers_path(@user) do %>
      <strong><%= @user.followers.count %> <%= t('follow_relationship.views.followers') %></strong>
    <% end %>
  <% end %>
</p>

<% if current_user == @user %>
  <%= link_to t('views.common.edit'), edit_user_registration_path %> |
<% end %>
<%= link_to t('views.common.back'), users_path %>
