<h1><%= t('reports.edit.title') %></h1>

<div class="field">
  <%= "#{Report.human_attribute_name(:created_at)}: #{@report.formatted_created_datetime}" %>
</div>

<%= render 'form', report: @report %>

<%= link_to 'Show', @report %> |
<%= link_to 'Back', reports_path %>
