<p>Hello <%= @resource.email %>!</p>

<p><%= t('devise.views.mailer.navigation_to_change_password_link') %></p>

<p><%= link_to t('devise.views.mailer.change_my_password_link'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('devise.views.mailer.instruction_for_users_did_not_request_changing_password') %></p>
<p><%= t('devise.views.mailer.explanation_for_when_new_password_will_be_applied') %></p>
